* {
  box-sizing: border-box;
}

#contact input[type="text"],
#contact select,
#contact textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 576px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
