.top-nav {
  font-size: 17px;
  margin-top: 0em;
  margin-bottom: 0em;
  font-weight: 600;
  padding: 0px;
  margin: 2px;
  color: white !important;
  background: transparent;
}

#navbar li {
  position: relative;
  padding: 8px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-img {
  width: 75%;
}

.header-fixed + .content {
  padding-top: 70px; /* Sabit navbar altındaki içeriğin üstte kalmaması için */
}

.navbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1030;
  background-color: transparent; /* Başlangıçta şeffaf arka plan */
  transition: background-color 0.3s ease; /* Arka plan rengi geçiş süresi */
}

.nav-link {
  color: white !important; /* Navigasyon linklerinin beyaz olması */
  font-weight: bold; /* Link font ağırlığı */
}

.scrolled {
  background-color: #355592 !important; /* Scroll sonrası arka plan rengi */
}

@media (max-width: 576px) {
  .navbar-toggler {
    display: block; /* Küçük ekranlarda hamburger menüsünün görünmesi */
  }

  .navbar-collapse {
    background-color: white; /* Menü genişlediğinde beyaz arka plan */
  }
}
