.fa-cart-shopping {
  margin-right: 10px;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (max-width: 575.98px) {
  .d-flex.align-items-center {
    justify-content: center;
  }
}

.custom-margin {
  margin: 0px 15px;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 15px;
}
